aiohappyeyeballs          
aiohttp                   
aiosignal                 
altair                    
annotated-types           
anyio                     
asgiref                   
assemblyai                
attrs                     
autobahn                  
automat                   
av                        
backoff                   
bcrypt                    
beautifulsoup4             4.12.3
blinker                   
cachetools                
certifi                   
cffi                      
channels                  
chardet                   
charset-normalizer        
click                     
coloredlogs               
constantly                
cryptography              
ctranslate2               
daphne                    
distro                    
django                    
extra-streamlit-components
faster-whisper            
filelock                  
flask                     
flatbuffers               
frozenlist                
fsspec                    
google-api-core           
google-api-python-client  
google-apps-meet          
google-auth               
google-auth-httplib2      
google-auth-oauthlib      
googleapis-common-protos  
gql                       
graphql-core              
groq                      
grpcio                    
grpcio-status              1.62.2
gtts                      
h11                       
httpcore                  
httplib2                  
httpx                     
huggingface-hub           
humanfriendly             
hyperlink                 
idna                      
incremental               
itsdangerous              
jinja2                    
jsonschema                
jsonschema-specifications 
keyboard                  
lml                       
markdown-it-py            
markupsafe                
mdurl                     
mpmath                    
multidict                 
narwhals                  
numpy                     
oauthlib                  
onnxruntime               
packaging                 
pandas                    
pillow                    
pip                       
proto-plus                
protobuf                   4.25.3
pyarrow                   
pyasn1                    
pyasn1-modules            
PyAudio                    0.2.14
pycparser                 
pydantic                  
pydantic-core             
pydeck                    
pydub                      0.25.1
pyexcel                   
pyexcel-io                
pygments                  
pyjwt                     
pyopenssl                 
pyparsing                 
pypdf2                    
pypng                     
python-dateutil           
pyttsx3                   
pytz                      
pyyaml                    
qrcode                    
referencing               
requests                  
requests-oauthlib         
requests-toolbelt         
rich                      
rpds-py                   
rsa                       
scipy                     
service-identity          
setuptools                
six                       
smmap                     
sniffio                   
sounddevice               
soupsieve                 
speechrecognition         
speedtest                  0.0.1
sqlparse                  
streamlit                 
streamlit-authenticator   
streamlit-drawable-canvas 
sympy                     
tenacity                  
terminal                  
texttable                 
tokenizers                
toml                      
toolz                     
tornado                   
tqdm                      
twisted                   
txaio                     
typing-extensions         
tzdata                    
uritemplate               
urllib3                   
watchdog                  
websockets                
werkzeug                  
wikipedia                 
yarl                      
zope-interface            